// /*
// COLORS

// Primary #26AFF0:
// Primary light:
// Primary dark:#2286B5

// grey : #2286B5

// //FONTS

// font-family:
// font-family:

// BP

// */
// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {
// }

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) {
// }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) {
// }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {
// }

// //colors

$color-primary: #26aff0;

$color-primary-dark: #2286b5;
$color-grey: #f9f9f9;
$color-dark-1: #1c1d21;
$color-dark-2: #16181d;

$theme-colors: (
  "primary": $color-primary,
  "primary-dark": $color-primary-dark,
  "grey": $color-grey,
  "dark": $color-dark-1,
  "dark-2": $color-dark-2
);

ul,
li {
  list-style-type: none;
  padding-left: 0;
}
