//HEADER STYL S
.header {
  .slide {
    &__title {
      h2 {
        @media (max-width: 767.98px) {
          font-size: 20px;
        }
        @media (max-width: 575.98px) {
          font-size: 18px;
        }
      }
      p {
        @media (max-width: 767.98px) {
          font-size: 14px;
        }
        @media (max-width: 575.98px) {
          font-size: 12px;
        }
      }
    }
  }
}
.footer {
  margin-top: 2rem;
  a {
    &,
    &:link,
    &:active,
    &:visited {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      color: #fff;
    }
  }
}
