// INDEX.HTML
.slide {
  position: relative;
  &__title {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.479);
    color: #fff;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.testi {
  background-color: $color-primary;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  overflow: hidden;
}

//PORFOLIO

.works-buttons {
  li {
    display: inline-block;
  }
}
//ABOUT
.accordion-toggler {
  &,
  &:link,
  &:active,
  &:visited {
    color: #222;
    text-decoration: none;
    font-size: 16px;
  }
}
